<?xml version="1.0"?>
<ruleset name="Doctum coding standard">
    <description>Doctum coding standard</description>

    <!-- Display progress -->
    <arg value="p"/>
    <arg name="colors"/>

    <!-- Inherit rules from -->
    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax.Found"/>
    <rule ref="Generic.Files.LineLength.TooLong">
        <severity>0</severity>
    </rule>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
    <exclude-pattern>*/src/Resources/themes/*</exclude-pattern>
</ruleset>
