parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$tags of method Doctum\\\\Parser\\\\NodeVisitor\\:\\:findParameterInTags\\(\\) expects array\\(mixed, string, string\\), array\\<array\\>&nonEmpty given\\.$#"
			count: 1
			path: src/Parser/NodeVisitor.php

		-
			message: "#^Method Doctum\\\\Reflection\\\\Reflection\\:\\:prepareMethodSee\\(\\) should return array\\<int, Doctum\\\\Reflection\\\\ClassReflection\\|Doctum\\\\Reflection\\\\MethodReflection\\|false\\> but returns array\\<int, Doctum\\\\Reflection\\\\MethodReflection\\|string\\|false\\>&nonEmpty\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

		-
			message: "#^Offset 0 does not exist on array\\<string, array\\>&nonEmpty\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

