parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method __toString\\(\\) on phpDocumentor\\\\Reflection\\\\DocBlock\\\\Description\\|null\\.$#"
			count: 4
			path: src/Parser/DocBlockParser.php

		-
			message: "#^Cannot call method __toString\\(\\) on phpDocumentor\\\\Reflection\\\\Type\\|null\\.$#"
			count: 3
			path: src/Parser/DocBlockParser.php

		-
			message: "#^Cannot call method getDescription\\(\\) on phpDocumentor\\\\Reflection\\\\DocBlock\\|null\\.$#"
			count: 1
			path: src/Parser/DocBlockParser.php

		-
			message: "#^Cannot call method getSummary\\(\\) on phpDocumentor\\\\Reflection\\\\DocBlock\\|null\\.$#"
			count: 1
			path: src/Parser/DocBlockParser.php

		-
			message: "#^Cannot call method getTags\\(\\) on phpDocumentor\\\\Reflection\\\\DocBlock\\|null\\.$#"
			count: 1
			path: src/Parser/DocBlockParser.php

		-
			message: "#^Access to an undefined property PhpParser\\\\Node\\\\Expr\\\\Error\\|PhpParser\\\\Node\\\\Expr\\\\Variable\\:\\:\\$name\\.$#"
			count: 2
			path: src/Parser/NodeVisitor.php

		-
			message: "#^Parameter \\#1 \\$name of class Doctum\\\\Reflection\\\\ParameterReflection constructor expects string, PhpParser\\\\Node\\\\Expr\\|string given\\.$#"
			count: 2
			path: src/Parser/NodeVisitor.php

		-
			message: "#^Parameter \\#1 \\$tags of method Doctum\\\\Parser\\\\NodeVisitor\\:\\:findParameterInTags\\(\\) expects array\\(mixed, string, string\\), array\\<array\\>&nonEmpty given\\.$#"
			count: 1
			path: src/Parser/NodeVisitor.php

		-
			message: "#^Cannot call method getProject\\(\\) on Doctum\\\\Reflection\\\\Reflection\\|null\\.$#"
			count: 1
			path: src/Reflection/ParameterReflection.php

		-
			message: "#^Cannot call method getProject\\(\\) on Doctum\\\\Reflection\\\\Reflection\\|null\\.$#"
			count: 3
			path: src/Reflection/Reflection.php

		-
			message: "#^Method Doctum\\\\Reflection\\\\Reflection\\:\\:prepareMethodSee\\(\\) should return array\\<int, Doctum\\\\Reflection\\\\ClassReflection\\|Doctum\\\\Reflection\\\\MethodReflection\\|false\\> but returns array\\<int, Doctum\\\\Reflection\\\\MethodReflection\\|string\\|false\\>&nonEmpty\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

		-
			message: "#^Offset 0 does not exist on array\\<string, array\\>&nonEmpty\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

		-
			message: "#^Parameter \\#1 \\$name of method Doctum\\\\Project\\:\\:getClass\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

		-
			message: "#^Property Doctum\\\\Reflection\\\\Reflection\\:\\:\\$hint type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Reflection/Reflection.php

		-
			message: "#^Class Doctum\\\\Version\\\\VersionCollection implements generic interface Iterator but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Version/VersionCollection.php

		-
			message: "#^Parameter \\#1 \\$interface of method Doctum\\\\Reflection\\\\ClassReflection\\:\\:addInterface\\(\\) expects PhpParser\\\\Node\\\\Stmt\\\\Interface_, string given\\.$#"
			count: 1
			path: tests/Parser/ClassTraverserTest.php

		-
			message: "#^Parameter \\#2 \\$context of method Doctum\\\\Parser\\\\DocBlockParser\\:\\:parse\\(\\) expects Doctum\\\\Parser\\\\ParserContext, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 3
			path: tests/Parser/DocBlockParserTest.php

