includes:
    - phpstan-baseline.neon
parameters:
        level: 8
        excludePaths:
            - vendor/*
            - tests/phar/data/*
            - scripts/generate-twig-cache.php
            - scripts/update-po-files.php
        paths:
            - src/
            - scripts/
            - examples/
            - tests/
