includes:
    - phpstan-baseline.neon
parameters:
        level: max
        excludes_analyse:
            - vendor/*
        paths:
            - src/
            - scripts/
            - examples/
            - tests/
