name: Publish Api documentations to GitHub pages

permissions:
  # The SSH key has the write access
  contents: none

on:
    repository_dispatch:
        types: run-build-api-docs
    workflow_dispatch:
    schedule:
        - cron: "00 12 * * *"

jobs:
    publish-pages:
        environment:
            name: API documentations
            url: https://doctum.long-term.support/api-docs/
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ssh-key: ${{ secrets.SSH_KEY_DEPLOY }}
            - name: Import GPG key
              # v6.3.0 - e89d40939c28e39f97cf32126055eeae86ba74ec
              uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
              with:
                  gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
                  passphrase: ${{ secrets.GPG_PASSPHRASE }}
                  git_user_signingkey: true
                  git_commit_gpgsign: true
            - name: Build docs and push changes
              run: ./scripts/update-built-docs.sh
