name: Lint and analyse files

permissions:
  contents: read

on:
  push:
  pull_request:

jobs:
    lint-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use php 8.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.1
            - name: Validate composer.json and composer.lock
              run: composer validate
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            - name: Restore cache
              uses: actions/cache@v4
              with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                restore-keys: |
                  ${{ runner.os }}-composer-
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Lint files
              run: composer run phpcs

    analyse-php:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use php 8.1
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.1
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
            - name: Restore cache
              uses: actions/cache@v4
              with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                restore-keys: |
                  ${{ runner.os }}-composer-
            - name: Install dependencies
              run: composer install --no-interaction
            - name: Analyse files
              run: composer run phpstan
